fieldset{
    width : 575px;
    margin:15px auto;
    background-color: #6d5d5d;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    padding:3px;
}
html,body{
    padding:0;
    color:white;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
}
main{
    background-color: #c5a7a1;
    height: 85%;
    padding:0;
    padding-top:60px;
}
footer{
    background-color: #2b241f;
    color:azure;
    height:15%
}
.pad{
    padding-top:1px
}
footer a{
    padding: 0 5px;
    color:blanchedalmond;
}
div>input{
    margin:3px;
}
a{
    outline: none;
    text-decoration: none;
}