html,body{
    padding:0;
    color:white;
    height: 100%;
}
main{
    background-color: rgb(73, 73, 73);
    padding:0;
    height:100%;
    padding-top:60px;
    margin:0;
}
footer{
    background-color: rgb(31, 31, 31);
    color:azure;
    margin:0;
}
.pad{
    padding-top:1px
}
main>div{
    margin:0;
    width: 75%;
    text-align: center;
    margin:auto;
    background-color: rgb(82, 82, 82);
    border: 2px solid whitesmoke;
    border-radius: 20px;
}
p{
    margin:0;
}