article{
    height:661px;
    overflow:auto;
    border: 2px solid white;
}
.gerard1{
    height:327px;
    overflow:auto;
    border: 2px solid white;
    margin-bottom:5px 0;
}
.gerard2{
    height:328px;
    overflow:auto;
    border: 2px solid white;
    margin:5px 0;
}
body{
    padding:0;
    color:white;
}
main{
    background-color: rgb(73, 73, 73);
}
footer{
    background-color: rgb(31, 31, 31);
    color:azure;
}
.pad{
    padding-top:1px
}
img{
    width: 60%;
    border: 2px solid white;
}

@media screen and (max-width: 470px) {
    .bout{
        height:10%;
    }
}
.bout{
    height:10%;
}