body{
    padding:0;
    color:white;
}
main{
    background-color: rgb(73, 73, 73);
    text-align: center;
}
.dropdown-toggle{
    color:white;
}
footer{
    background-color: rgb(31, 31, 31);
    color:azure;
}