html,body{
    padding:0;
    color:white;
    height: 100%;
}
main{
    background-color: #c5a7a1;
    height: 85%;
    padding:0;
    padding-top:120px;
    text-align: center;
}
footer{
    background-color: #2b241f;
    color:azure;
    height:15%
}
.pad{
    padding-top:1px
}
a{
    color:white;
}
fieldset{
    width : 525px;
    margin:auto;
    background-color: #967e7e;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    padding:3px;
}
