html,body{
    padding:0;
    color:white;
    height: 100%;
}
main{
    background-color: rgb(73, 73, 73);
    height: 100%;
    padding:0;
    padding-top:60px;
    text-align: center;
}
footer{
    background-color: rgb(31, 31, 31);
    color:azure;
}
.pad{
    padding-top:1px
}
a{
    color:white;
}
fieldset{
    width : 525px;
    margin:auto;
}